.map {
  position: relative;
  padding: 0;
}
.map button {
  border: none;
  background: transparent;
  position: absolute;
  font-size: 2.5rem;
  color: teal;
  z-index: 100;
}
.map button.john {
  top: 47%;
  left: 23%;
}
.map button.school {
  top: 33%;
  left: 53%;
}
.map button.alice {
  bottom: 29%;
  left: 60%;
}
.map button .info {
  position: absolute;
  top: 0;
  left: 45px;
  width: 120px;
  background-color: teal;
  color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s;
}
.map button .info a {
  font-size: 0.8rem;
  display: block;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #fff;
}
.map button .info a:hover {
  color: #000;
}
.map button:hover .info {
  opacity: 1;
}

.map-info {
  padding: 2rem;
  background-color: teal;
  color: #fff;
}
.map-info h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}
.map-info .loc-content ul {
  padding: 0;
}
.map-info .loc-content ul li {
  list-style: none;
  border-bottom: 1px solid #fff;
}
.map-info .loc-content a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.map-info .loc-content a:hover {
  color: #000;
}