.map {
    position: relative;
    button {
        border: none;
        background: transparent;
        position: absolute;
        i {
            color: red;
            font-size: 3em;
        }
        &:hover {
            i {
                opacity: .9;
            }
            :after {
                content: "";
                position: absolute;
                top: 55px;
                left: 0;
                width: 100px;
                height: 100px;
                background-color: red;
            }
        }
        &.marker-1 {
        top: 36%;
        left: 33%;
        &:hover :after {
            content: "marker 1";
            font-size: 16px;
            color: #fff;
            
        }
        }

        &.marker-2 {
        top: 31%;
        left: 53%;
        }
    }
    img {
        width: 100%;
    }

}

.map-info {
    h2 {
        font-size: .75em;
    }
    background-color: red;
    padding: 1em;
    color: white;

    .loc {
    display:none;
    }
    #loc-content, #loc-content-2 {
 
        &.active {
            display: block;
        }

        h3 {
        font-size: 2em;
        }

        ul {
            padding: 0;
            li {
                list-style: none;
                padding: .5em 0;
                border-top: 1px solid #fff;
            }
        }
    }
}