.map {
  position: relative;
  padding: 0;

  button {
    border: none;
    background: transparent;
    position: absolute;
    font-size: 2.5em;
    color: teal;
    z-index: 100;
    &.john {
      top: 47%;
      left: 23%;
    }

    &.school {
      top: 33%;
      left: 53%;
    }

    &.alice {
      bottom: 29%;
      left: 60%;
    }

    &.fred {
     bottom: 33%;
      left: 38%;
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
    &.active-marker {
      i {
        color: red;
      }
    }
  }
}

.map-info {
  padding: 2rem;
  background-color: teal;
  color: #fff;

  h3 {
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .loc-content {
    display: none;
    ul {
      padding: 0;
      li {
        list-style: none;
        border-bottom: 1px solid #fff;
      }
    }

    &.active {
      display: block;
    }
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #000;
      }
    }
  }
}
